<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>
    <!--
         поменять css, скачать или написать свой (bootstrap.cdn отсюда сылка на стиль)
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header "></div>


<div class="container mt-10">
    <h1 th:text="${title}"></h1>
</div>

<div th:insert="blocks/footer"></div>

</body>
</html>