<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header "></header>
    <blog-menu th:insert="blocks/blog-menu"></blog-menu>


    <div class="container mt-5 mb-5">
        <h1 >All Blogs.</h1>
        <div th:each="element : ${posts}" class="alert alert-info ">
            <h3 th:text="${element.getTitle()}"/>
            <p th:text="${element.getAnons()}"/>
            <a th:href="'/blog/' + ${element.getId()}">Details</a>
            <a th:href="'/blog/' + ${element.getId()} + '/update'">Edit</a>
            <a th:href="'/blog/' + ${element.getId()} + '/delete'">Delete</a>
        </div>
    </div>


    <footer th:insert="blocks/footer"></footer>
</body>
</html>