<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title >Blog Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header "></header>
    <blog-menu th:insert="blocks/blog-menu"></blog-menu>
    <div>
        <br>
        <h1 class="container mt-10">
            Добавление, редактирование и удаление статей.
        </h1>
        <br>
    </div>
    <footer th:insert="blocks/footer"></footer>
</body>
</html>